nav ul a,
nav .brand-logo {
  color: #444;
}
body > div.navbar-fixed > nav > div > ul.section.table-of-contents.right.hide-on-med-and-down > li > a {
  color: white;
}

.table-of-contents a.active {
  border-left: 3px solid #2196F3;
}

body > div.navbar-fixed > nav {
  opacity: 0.9;
}

#sidenav-overlay {
  z-index: inherit;
}

#nav-mobile > li > a:hover {
  background-color: rgba(0,126,255,0.87);
}

#sig-container {
  width: 20%;
  max-height: 60px;
  margin-top: 5px;
  position: inherit;
}

p {
  line-height: 2rem;
  font-size: 1.2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/*TECHNOLOGY SECTION ---------------------*/
#technology {
  width: 100%;
  color: #ccc;
}

.techLogoDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}

.techLogo {
  margin: auto;
  width: 60px;
}
.no-btm-margin {
  margin-bottom: 0;
}

/*CONTACT SECTION ------------------------------*/
#contact {
  background-color: #212121 ;
  color: #f5f5f5;
}

#contact p {
  margin: 5px 0;
}

#contact a {
  color: #f5f5f5;
}

#contact a:hover {
  color: #2196F3;
}

#icon_prefix, #icon_prefix2, #icon_prefix3 {
  background-color: black;
  opacity: 0.9;
}

